* {
    box-sizing: border-box;
}
:root {
    --header-bg: #10375c;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}
.header {
    min-height: 100vh;
    background: var(--header-bg);
}
.container {
    max-width: 1170px;
}
